[submodule "sysmodule/Atmosphere-libs"]
	path = sysmodule/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
[submodule "overlay/libultrahand"]
	path = overlay/libultrahand
	url = https://github.com/ppkantorski/libultrahand.git
